dist
node_modules
.husky
.github
.git
.gitignore
.DS_Store
.vscode
screenshots
stats.html
vercel.json
LICENSE
README.md
Dockerfile.dev
Dockerfile.preview
test-results
playwright-report
blob-report
playwright/.cache
